GrayCodePattern/.vs
GrayCodePattern/x64
GrayCodePattern/GrayCodePattern.sln
GrayCodePattern/GrayCodePattern.VC.db
GrayCodePattern/GrayCodePattern/x64
GrayCodePattern/GrayCodePattern/GrayCodePattern.vcxproj
GrayCodePattern/GrayCodePattern/GrayCodePattern.vcxproj.filters
GrayCodePattern/GrayCodePattern/GrayCodePattern.vcxproj.user
GrayCodePattern/GrayCodePattern/Const.cpp

GrayCodePattern/GrayCodePattern.VC.VC.opendb

partten_images/imgName.yaml
partten_images2/imgName.yaml